<a href="https://colab.research.google.com/github/ashajyothi-2005/HTML/blob/main/12_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (2,11):
     print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (2,11):
    if(i%2==0):
       print(i)

2
4
6
8
10

In [ ]:
for i in range (6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range (2,11):
     if(i%2!=0):
        print(i)

3
5
7
9

In [ ]:
print ("right angled triangle ")
a=5
for i in range (1,a+1):
     print("*" *i)

right angled triangle
*
**
***
****
*****

In [ ]:
print("inverted right angled triangle")
a=int(input())
for i in range (a):
    for j in range (a,i,-1):
        print("*" ,end="")
    print()

inverted right angled triangle
4
****
***
**
*

In [ ]:
print("square")
for i in range (a):
    print("*" *a)

square
****
****
****
****

In [ ]:
print("rectangle")
b=int(input())
a=int(input())
for i in range (a):
    print("*" *b)

rectangle
6
9
******
******
******
******
******
******
******
******
******

In [ ]:
print("right-aligned triangle")
a=5
for i in range (1,a+1):
     print(" " *(a-i)+"*"*i)

right-aligned triangle
    *
   **
  ***
 ****
*****

In [ ]:
print("alphabet pattern")
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

alphabet pattern
A
A B
A B C
A B C D
A B C D E

In [ ]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
print("vowels or consonants")
a=input()
if a in('a','e','i','o','u','A','E','I','O','U'):
    print(a,"is a vowel")
else:
    print(a,"is a consonant")

vowels or consonants
F
F is a consonant

In [ ]:
print("sum of n natural numbers")
n=int(input())
sum_n=0
for i in range (1,n+1):
     sum_n +=i
print(sum_n)

sum of n natural numbers
45
1035

In [ ]:
print("factorial calculator")
a=int(input())
b=1
for i in range (1,a+1):
     b=b*i
print(b)

factorial calculator
6
720

In [ ]:
print("prime number code")
a=int(input())
if a <= 1:
    print(a,"is not a prime number")
else:
    is_prime = True
    for i in range(2, int(a*0.5)+ 1):
        if a % i==0:
            is_prime = False
            break
    if is_prime:
        print(a,"is a prime number")
    else:
        print (a,"is not a prime number")

prime number code
7
7 is a prime number

In [ ]:
print("rectangle")
b=int(input())
a=int(input())
for i in range (a):
    print("1" *b)

rectangle
9
2
111111111
111111111

In [ ]:
print("right-aligned triangle")
a=5
for i in range (1,a+1):
     print("" *(a-i)+"1" *i)

right-aligned triangle
1
11
111
1111
11111

In [ ]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [ ]:
for i in range (5,0,-1):
    for j in range (6,i,-1):
        print(j,end="")
    print()

6
65
654
6543
65432

In [ ]:
for i in range (5,0,-1):
    for j in range (6,i,-1):
        print(i,end="")
    print()

5
44
333
2222
11111

In [ ]:
for i in range(70,65):
    for j in range(65,i-1):
        print(chr(j),end=" ")
    print()

In [ ]:
for i in range(70,65):
    for j in range(70,i-1):
        print(chr(i),end=" ")
print()

In [ ]:
print("right-aligned triangle")
a=int(input())
for i in range (1,a+1):
     print("" *(a-i)+"*" *i)

right-aligned triangle
6
*
**
***
****
*****
******

In [ ]:
a=int(input())
b=int(input())
for i in range (a):
    print("*" *b)

3
9
*********
*********
*********

In [ ]:
n=int(input())
for i in range (1,21):
     print(n,"*",i,"=",n*i)

8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
8 * 13 = 104
8 * 14 = 112
8 * 15 = 120
8 * 16 = 128
8 * 17 = 136
8 * 18 = 144
8 * 19 = 152
8 * 20 = 160

In [ ]:
n= int(input())
for i in range(n):
     print("*" *n)

5
*****
*****
*****
*****
*****

In [ ]:
n= int(input())
for i in range(n):
     print("*" *i)

7

*
**
***
****
*****
******

In [ ]:

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997