<a href="https://colab.research.google.com/github/ashajyothi-2005/HTML/blob/main/Python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= 10
b= 15
c= 12
if(a>b and a>c):
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

b is greater

In [ ]:
a = int(input("Enter a number: "))

if a <= 1:
    print(a, "is not a prime number")
else:
    is_prime = True
    for i in range(2, int(a**0.5)+ 1):
        if a % i == 0:
            is_prime = False
            break

    if is_prime:
        print(a, "is a prime number")
    else:
        print(a, "is not a prime number")

Enter a number: 56
56 is not a prime number

In [ ]:
lower=2
upper=10
print("prime numbers between",lower,upper)
for number in range (lower,upper+1):
  if number>1:
    for i in range(2,number):
      if(number%i)==0:
       break
    else:
       print(number)

prime numbers between 2 10
2
3
5
7

In [ ]:


num1 = complex(2,3)
num2 = complex(7,9)
sum_result = num1 + num2
product_result = num1*num2

print("First complex number:", num1)

print("Second complex number", num2)

print("Sum:", sum_result)

print("Product:", product_result)

First complex number: (2+3j)
Second complex number (7+9j)
Sum: (9+12j)
Product: (-13+39j)

In [ ]:
n=int(input("enter a number:"))
for i in range(1,30):
         print(n, "*", i,"=",n*i)

enter a number:45
45 * 1 = 45
45 * 2 = 90
45 * 3 = 135
45 * 4 = 180
45 * 5 = 225
45 * 6 = 270
45 * 7 = 315
45 * 8 = 360
45 * 9 = 405
45 * 10 = 450
45 * 11 = 495
45 * 12 = 540
45 * 13 = 585
45 * 14 = 630
45 * 15 = 675
45 * 16 = 720
45 * 17 = 765
45 * 18 = 810
45 * 19 = 855
45 * 20 = 900
45 * 21 = 945
45 * 22 = 990
45 * 23 = 1035
45 * 24 = 1080
45 * 25 = 1125
45 * 26 = 1170
45 * 27 = 1215
45 * 28 = 1260
45 * 29 = 1305