<a href="https://colab.research.google.com/github/ashajyothi-2005/HTML/blob/main/shapes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
rows = 5
print("1. Right Triangle:")
for i in range(1, rows + 1):
    print("*" * i)

1. Right Triangle:
*
**
***
****
*****

In [2]:
rows = 5
print("\n2. Inverted Right Triangle:")
for i in range(rows, 0, -1):
    print("*" * i)

2. Inverted Right Triangle:
*****
****
***
**
*

In [3]:
rows = 5
print("\n3. Square:")
for i in range(rows):
    print("* " * rows)

3. Square:
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
rows = 5
print("\n4. Hollow Square:")
for i in range(rows):
    if i == 0 or i == rows - 1:
        print("* " * rows)
    else:
        print("* " + "  " * (rows - 2) + "*")

4. Hollow Square:
* * * * *
*       *
*       *
*       *
* * * * *

In [5]:
rows = 5
print("\n5. Pyramid:")
for i in range(1, rows + 1):
    # Print spaces, then stars
    print(" " * (rows - i) + "* " * i)

5. Pyramid:
    *
   * *
  * * *
 * * * *
* * * * *

In [6]:
rows = 5
print("\n6. Inverted Pyramid:")
for i in range(rows, 0, -1):
    # Print spaces, then stars
    print(" " * (rows - i) + "* " * i)

6. Inverted Pyramid:
* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
rows = 5
print("\n7. Diamond:")
# Upper half (including middle line)
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)
# Lower half (excluding middle line)
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "* " * i)

7. Diamond:
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [8]:
rows = 5
print("\n8. Right-Side Triangle:")
# Upper half
for i in range(1, rows + 1):
    print("*" * i)
# Lower half
for i in range(rows - 1, 0, -1):
    print("*" * i)

8. Right-Side Triangle:
*
**
***
****
*****
****
***
**
*

In [11]:
rows = 5
print("1. Left-Angled Triangle:")
for i in range(1, rows + 1):
    # Print spaces (rows - i) then stars (i)
    print(" " * (rows - i) + "*" * i)

1. Left-Angled Triangle:
    *
   **
  ***
 ****
*****

In [12]:
rows = 5
print("\n2. Inverted Left-Angled Triangle:")
for i in range(rows, 0, -1):
    # Print spaces (rows - i) then stars (i)
    print(" " * (rows - i) + "*" * i)

2. Inverted Left-Angled Triangle:
*****
 ****
  ***
   **
    *

In [13]:
rows = 5
print("\n3. Number Pyramid:")
for i in range(1, rows + 1):
    num_str = ' '.join(str(i) for _ in range(i))
    print(" " * (rows - i) + num_str)

3. Number Pyramid:
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [14]:
rows = 5
print("\n4. Hourglass:")
# Top half (Inverted Pyramid)
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "* " * i)
# Bottom half (Regular Pyramid, skip middle line)
for i in range(2, rows + 1):
    print(" " * (rows - i) + "* " * i)

4. Hourglass:
* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
rows = 5
print("\n5. Hollow Pyramid:")
for i in range(1, rows + 1):
    if i == rows:
        # Last row is solid
        print("* " * rows)
    else:
        # Calculate interior spaces
        spaces = " " * (2 * i - 3)
        if i == 1:
            # First row is just one star
            print(" " * (rows - i) + "*")
        else:
            # Outer stars with inner spaces
            print(" " * (rows - i) + "*" + spaces + "*")

5. Hollow Pyramid:
    *
   * *
  *   *
 *     *
* * * * *

In [16]:
rows = 5
print("\n6. Hollow Diamond:")
# Top half
for i in range(1, rows + 1):
    spaces = " " * (2 * i - 3)
    if i == 1:
        print(" " * (rows - i) + "*")
    else:
        print(" " * (rows - i) + "*" + spaces + "*")

# Bottom half
for i in range(rows - 1, 0, -1):
    spaces = " " * (2 * i - 3)
    if i == 1:
        print(" " * (rows - i) + "*")
    else:
        print(" " * (rows - i) + "*" + spaces + "*")

6. Hollow Diamond:
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [17]:
rows = 5
print("\n7. Character Ladder:")
for i in range(rows):
    char = chr(65 + i) # ASCII for 'A' is 65
    print(char * (i + 1))

7. Character Ladder:
A
BB
CCC
DDDD
EEEEE

In [18]:
rows = 4
print("\n8. Zig-Zag (W-Pattern):")
for i in range(rows):
    output = ""
    for j in range(2 * rows - 1):
        if j == i or j == (2 * rows - 2) - i:
            output += "*"
        else:
            output += " "
    print(output)

8. Zig-Zag (W-Pattern):
*     *
 *   *
  * *
   *

In [19]:
rows = 5
print("\n9. Right Arrow:")
# Top half
for i in range(1, rows + 1):
    print(" " * (i - 1) + "*")
# Bottom half (excluding middle line)
for i in range(rows - 1, 0, -1):
    print(" " * (i - 1) + "*")

9. Right Arrow:
*
 *
  *
   *
    *
   *
  *
 *
*

In [20]:
print("\n10. Heart Shape:")
size = 6

# Top part of the heart
for i in range(size // 2, size):
    for j in range(2 * size):
        # Heart equation approximation (top bumps)
        if (i - 1) ** 2 + (j - size // 2 - size // 4) ** 2 < size // 2 or \
           (i - 1) ** 2 + (j - size // 2 + size // 4) ** 2 < size // 2:
            print('*', end='')
        else:
            print(' ', end='')
    print()

# Bottom V part of the heart
for i in range(size, 2 * size):
    for j in range(2 * size):
        if abs(i - 1.5 * size) + abs(j - size) < size:
            print('*', end='')
        else:
            print(' ', end='')
    print()

10. Heart Shape:



    *****
   *******
  *********
 ***********
  *********
   *******